@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-grafana-dark text-grafana-text;
  }
}

@layer utilities {
  .grafana-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .grafana-scrollbar::-webkit-scrollbar-track {
    background-color: #181B1F;
  }
  
  .grafana-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2c3235;
    border-radius: 3px;
  }
  
  .grafana-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(244, 104, 0, 0.5);
  }
}